In [2]:
import pandas as pd
import matplotlib as plt

In [11]:
df = pd.read_csv("/Users/kiran/Downloads/output", delimiter = "\t")
n = 1000  # Set the value of n here
df = df.iloc[::n, :]

In [12]:
df = df.reset_index()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51679 entries, 0 to 51678
Data columns (total 12 columns):
 #   Column                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                --------------  -----
 0   level_0                                                                                                               51679 non-null  object
 1   level_1                                                                                                               51678 non-null  object
 2   level_2                                                                                                               51678 non-null  float64
 3   level_3                                                                                                               51678 non-null  object
 4   level_4                                                                                                               51678 non-null  float64
 5   level_5                                                                                                               51678 non-null  float64
 6   level_6                                                                                                               51678 non-null  object
 7   level_7                                                                                                               51678 non-null  float64
 8   level_8                                                                                                               51678 non-null  float64
 9   level_9                                                                                                               51678 non-null  float64
 10  level_10                                                                                                              51678 non-null  float64
 11  Start             End               Sif   SrcIPaddress    SrcP  DIf   DstIPaddress    DstP    P Fl Pkts       Octets  51678 non-null  float64
dtypes: float64(8), object(4)
memory usage: 4.7+ MB

In [14]:
df = df.rename(columns={'level_3': 'src_ip'})
df = df.rename(columns={'level_6': 'dest_ip'})

In [15]:
df["timestamp"] = pd.to_datetime(df["level_0"], format="%m%d.%H:%M:%S.%f", errors="coerce")

In [16]:
df.drop(df.columns.difference(['timestamp','src_ip','dest_ip']), 1, inplace=True)

/var/folders/fr/yxnbjc49785fv3t1j75vx2w00000gn/T/ipykernel_73530/2469976476.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(df.columns.difference(['timestamp','src_ip','dest_ip']), 1, inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51679 entries, 0 to 51678
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   src_ip     51678 non-null  object
 1   dest_ip    51678 non-null  object
 2   timestamp  51678 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 1.2+ MB

In [18]:
df.sort_values(by=["timestamp"], inplace = True)

In [19]:
df.to_csv('requests.csv', index = False, encoding='utf-8')

In [21]:
df.dropna()

               src_ip          dest_ip               timestamp
319       3.173.85.27  130.208.165.162 1900-04-29 07:41:36.252
440      135.48.82.81  126.113.102.211 1900-04-29 07:42:19.762
2496   174.208.19.178     11.246.76.60 1900-04-29 07:44:59.146
2937    117.39.201.66   133.237.250.45 1900-04-29 07:45:57.173
3436     117.39.202.4      11.6.157.47 1900-04-29 07:46:28.180
...               ...              ...                     ...
51555   124.106.9.230  118.242.100.101 1900-04-29 09:14:40.401
51677      3.35.3.242     3.173.82.147 1900-04-29 09:14:45.588
51673    3.35.238.233      0.34.188.54 1900-04-29 09:14:48.108
51604  118.242.94.212    207.10.85.210 1900-04-29 09:14:48.596
51605  118.242.94.212     91.86.234.14 1900-04-29 09:14:51.666

[51678 rows x 3 columns]